{% extends "base.html" %}

{% block content %}
<form action="{% url 'users:register' %}" method="post">
    {% csrf_token %}
    <div class="col-md-8 col-md-offset-2">
        <div class="row justify-content-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Register</h2>
                </div>
                <div class="panel-body">
                    {% if form.errors %}
                    {% for field in form %}
                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                    {% endfor %}
                    {% endif %}
                    {% if error_messages %}
                    <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                    {% endif %}
                    <div class="form-group clearfix">
                        <label for="{{ form.username.id_for_label }}"
                            class="col-md-4 control-label text-right">Username<span class="text-red">*</span>:</label>
                        <div class="col-md-6">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="{{ form.password.id_for_label }}"
                            class="col-md-4 control-label text-right">Password<span class="text-red">*</span>:</label>
                        <div class="col-md-6">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="{{ form.password_repeat.id_for_label }}"
                            class="col-md-4 control-label text-right">Confirm password:</label>
                        <div class="col-md-6">
                            {{ form.password_repeat }}
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6 mt-2 justify-content-end d-flex">
                            <a href="{% url 'users:login' %}" class="btn btn-primary mx-2">Retour</a>
                            <input type="submit" value="Register" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}